.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.main {
  max-width: 1696px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.description {
  margin-top: 168px;
}

.h1 {
  font-weight: 500;
  font-size: 80px;
  line-height: 89.4%;
  color: var(--white);
}

.p {
  font-weight: 400;
  font-size: 36px;
  line-height: 89.4%;
  color: var(--white);
}

.authFormWrapper {
  justify-self: flex-end;
  margin-top: 126px;

  border-radius: 26px;
}

.authForm {
  border-radius: 26px;
  padding: 50px 55px 0 55px;
}

.authForm h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 89.4%;
  color: var(--dark);
}

.authForm h5 {
  font-weight: 400;
  font-size: 19px;
  line-height: 89.4%;
  color: var(--dark);

  margin-bottom: 80px;
}

.authForm label span {
  font-weight: 400;
  font-size: 18px;
  line-height: 89.4%;
  color: var(--dark);
}

.authForm label input {
  margin-top: 5px;

  border-radius: 5px;

  font-size: 18px;
}
