.bgWrap {
  display: block;
  position: fixed;

  height: 260px;
  width: 100vw;
  z-index: -1;
}

.content {
  width: calc(100vw - 256px);
  height: 100vh;
  overflow: auto;
  margin-top: 12px;
}

.tabs {
  width:  calc(100vw - 280px) !important;
}